html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #101010;
    overflow-x: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 142rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (max-width: 415px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.header {
    background: #B91616;
    padding: 2rem 0;
    margin-bottom: 11rem;
}

.header__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__logo {
        display: block;
    }
}

.header__langs-item {
    display: none;
}

.header__langs-item.active {
    display: block;
}

.header__langs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__langs {
        display: none;
    }
}

.header__langs-item {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
}

.header__menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: block;
    }
}

.nav {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
}

.nav__item {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    padding: 0 3.5rem;
}

.nav__item a {
    color: inherit;
    text-decoration: none;
}

.intro {
    margin-bottom: 14rem;
}

.intro__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.intro__left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

@media screen and (max-width: 415px) {
    .intro__left {
        width: 20%;
        padding-right: 2rem;
    }
}

.intro__right {
    overflow: hidden;
}

@media screen and (max-width: 415px) {
    .intro__right {
        width: 80%;
        padding-left: 2rem;
    }
}

.intro__content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.intro__subtitle {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .intro__subtitle {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .intro__title img {
        width: 60rem;
    }
}

@media screen and (max-width: 415px) {
    .intro__title img {
        width: 25rem;
    }
}

.works {
    position: relative;
    margin-bottom: 12.5rem;
}

.works:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 29rem;
    height: 1px;
    background: #fff;
}

@media screen and (max-width: 768px) {
    .works:before {
        width: 15rem;
    }
}

@media screen and (max-width: 415px) {
    .works:before {
        width: 7rem;
    }
}

.works__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
    .works__inner {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 7rem;
    }
}

.works__title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: -1.5rem;
    right: 35rem;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .works__title {
        top: -2rem;
        right: 20rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 415px) {
    .works__title {
        font-size: 2rem;
        top: -1.5rem;
        right: 10rem;
    }
}

.works__col {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.works__col:first-child {
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
    .works__col:first-child {
        margin-right: 0;
    }
}

.works__col:last-child {
    margin-left: 2rem;
    padding-top: 6rem;
}

@media screen and (max-width: 768px) {
    .works__col:last-child {
        margin-left: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .works__col {
        width: 100%;
    }
}

.works__item {
    margin-bottom: 5rem;
}

.works__item:hover .works__mask {
    background: rgba(16, 16, 16, 0.5);
}

.works__item:hover .works__text {
    opacity: 1;
}

.works__item:hover .works__info {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 415px) {
    .works__item {
        margin-bottom: 2.5rem;
    }
}

.works__img {
    position: relative;
}

.works__img img {
    width: 100%;
}

.works__mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0);
    transition: background 0.2s linear;
}

.works__text {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: opacity 0.2s linear;
}

.works__info {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 1000;
    width: 2.6rem;
    height: 2.6rem;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.works__btn {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 800;
    text-align: center;
}

.works__btn a {
    color: inherit;
    text-decoration: none;
    border: 2px #fff solid;
    padding: 2rem 6.4rem;
    transition: background 0.2s linear, color 0.2s linear;
}

.works__btn a:hover {
    background: #fff;
    color: #101010;
}

@media screen and (max-width: 415px) {
    .works__btn a {
        padding: 1rem 3rem;
        font-size: 1.5rem;
    }
}

.about {
    background: url("../images/about/bg.png") right top 10rem no-repeat;
    padding: 16rem 0 18rem;
    position: relative;
    margin-bottom: 18rem;
}

.about:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 29rem;
    height: 1px;
    background: #fff;
}

@media screen and (max-width: 768px) {
    .about:before {
        width: 15rem;
    }
}

@media screen and (max-width: 415px) {
    .about:before {
        width: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .about {
        margin-bottom: 0;
    }
}

.about__title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: -1.5rem;
    left: 35rem;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .about__title {
        font-size: 3rem;
        left: 20rem;
        top: -2rem;
    }
}

@media screen and (max-width: 415px) {
    .about__title {
        font-size: 2rem;
        top: -1.5rem;
        left: 10rem;
    }
}

.about__text {
    width: 70%;
    font-size: 6rem;
    color: #fff;
    font-weight: 700;
}

.about__text span {
    color: #B91616;
}

.about__text:before {
    content: "";
    position: absolute;
    top: 17.5rem;
    left: 0;
    z-index: 1;
    background: #B91616;
    width: 24.5rem;
    height: 5.5rem;
}

@media screen and (max-width: 768px) {
    .about__text:before {
        top: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .about__text {
        width: 100%;
    }
}

@media screen and (max-width: 415px) {
    .about__text {
        font-size: 3rem;
    }
}

.footer {
    background: #B91616;
    padding: 3rem 0;
}

.footer__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.footer__left {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .footer__left {
        font-size: 2rem;
    }
}

.footer__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 415px) {
    .footer__contacts {
        display: none;
    }
}

.footer__contacts-item {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    padding: 0 1rem;
}

.footer__contacts-item a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer__contacts-item {
        font-size: 1.5rem;
    }
}

.footer__arrow {
    display: -ms-flexbox;
    display: flex;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

.footer__arrow-text {
    margin-right: 2rem;
}
